body{
    background-image: url(../img/ORNARE_bg_pill_3840x2160.png);
    width: 1140px;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    justify-self: center;
    background-color: #C0C0C0;  
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    color: #121212 ;
    padding: 20px;
    margin-bottom:20px ;
}
.logo img{
    width: 150px;
}
form{
display: flex;
flex-direction: row-reverse;
}
button,
input{
padding: 8px;
border-radius: 10px;
margin-left: 20px;
}
input{
width: 320px;
}
button{
    width: 85px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
aside{
    width: 320px;
    background-color: #C0C0C0;
    border-radius: 20px;
    height: 522.66px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #1A1A1A ;
}

section.aleatorio{
    width: 800px;
}
.aleatorio article{
    width: 800px;
}
.aleatorio img{
    width: 784px;
    border-radius:20px ;
}
section.contenido{
    width: 66.666%;
}