body{
    background-image: url(../img/ORNARE_bg_pill_3840x2160.png);
    width: 1140px;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    justify-self: center;
    background-color: #005A2B ;  
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    color: #121212 ;
    padding: 20px;
    margin: 10px 10px 20px 10px;
    border: solid #D4AF37 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}
header a{
    color: #D4AF37;
}
article.logo{
    display: flex;
    flex-direction: column;
}

article.logr,
article.indice{
    align-content: center;
}
article.indice{
    width: 500px;
}
nav input{
    margin-right: 5px;
}
nav.menu{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}
.logr a{
    margin: 0px 10px 0px 10px;
}
.logo img{
    width: 50px;
    padding-left: 85px;
}
.logo img.name{
    width: 100px;
    padding-left: 65px;
    padding-top: 5px;
}
form{
display: flex;
flex-direction: row-reverse;
}
form img{
    width: 50px ;
}
button,
input{
padding: 8px;
border-radius: 10px;
margin-left: 2px;
background-color:#FFFFFF;
color: #005A2B;
}
input{
width: 400px;
border: solid ;
text-align: center;
padding: 14px 3px 14px 3px;
}

button{
    width: 85px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
aside{
    width: 295px;
    background-color: #005A2B ;  
    border-radius: 20px;
    height: 786.95px;
    border: solid #D4AF37 3px;
}
    

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 750px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

section.aleatorio{
    width: 780px;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #005A2B ; 
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    display: flex;
    margin-bottom: 0%;
}
.aleatorio a{
background-color: #D4AF37;
padding: 15px;
border-radius: 10px;
color: #FFFFFF; 
justify-self: left;
}
section.aleatorio article h1{
    margin-top: 0;
}
.contenido article.precio,
.alea article.precio{
    align-self: center;
    width: 97%;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0%;
}
.contenido article a p{
    font-size: smaller;
}
.alea article a p{
    font-size:smaller;
    color: #005A2B;
    border-radius: 10px;
    padding: 5px;
    background-color: #D4AF37;
    border: solid #ab860d 1px;
}

.contenido h1,
.contenido h2{
    color: #121212;
}
.aleatorio h2,
.aleatorio h1{
    color: #FFFFFF;
}
.aleatorio p{
    color: #FFFFFF;
    margin-bottom: 50px;
}
.aleatorio img{
    width: 100%;
    border-radius:20px ;
    
}
section .alea{
    background-color: #005A2B;
}
section.divisor{
    width: 100%;
    background-color: #D4AF37;
    border-radius:20px ;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
section.alea,
section.contenido{
    display: flex;
    flex-wrap: wrap;
    width: 1146px;
    justify-content: space-between;   
    background-color: #DADADA;
    border-radius: 20px;
    padding: 25px;
    
}
section.alea{
    background-color: #005A2B;
    border: solid #D4AF37 5px;
}
.alea h2{
    color: #DADADA;
}
.alea p{
    color: #DADADA;
}
.alea a{
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    color: #D4AF37;
}
.contenido article.precio,
.alea article.precio{
    border-bottom: solid 3px #D4AF37;
}
.contenido article#bu {
    border-bottom:solid 3px #D4AF37 ;
}
.alea article,
.contenido article{
    display:flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    margin-bottom: 40px;
}
.alea img,
.contenido img{
    width: 100%;
    border-radius: 10px;
}
.alea img,
.contenido p{
    color: #121212;
}

.contenido a{
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    color: #6B7280;
}

.categoria article{
    width: 1080px;
}
.categoria img{
    width: 1080px;
}
.log h1{
    align-self: center;
    color: #D4AF37;
}
 main.log{
    width: 1140px;
    justify-self: center;
    display: flex;
    flex-direction: column;
 }
 section#log{
   width: 450px;
    justify-self: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
 .log form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    align-self: center;
 }
 label {
    color: #005A2B;
 }
 div#imp.ree{
    width: 95%;
 }
 div#impe.ree input{
width: 100%;
 background-color: #FFFFFF;
 }
 
 div.hob{
    width: 100%;
 }
 p.ob{
    width: 100%;
 }
 div.hor{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
 }
 div#re.rec{
    width: 350px;
 }
 div#imp.ree input{
    width: 100%;
 }
 .hor input{
    width: 15px;
    background-color: #FFFFFF;
 }

 div#imp{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#imp label{
    margin-bottom: 5px;
}
#imp input{
    padding: 10px;
     background-color: #FFFFFF;
    border-radius: 8px;
    border: solid 2px #005A2B;
    margin: 0;
}
#imp.ree{
    padding-top: 10px;
    width: 350px;
}
.log div.rec{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    flex-direction: row-reverse;
}
.rec label{
        font-weight: 700;  
}
div#btn.r{
    justify-content: center;
}
button.register{
    border-radius: 10px;
    padding: 10px;
    padding-left:55px ;
    padding-right:55px;
}
button.login{
    justify-self: flex-end;
}
.log p{
    color: rgb(210, 37, 37);
}

.log .pais{
    display: flex;
    flex-direction: column;
}
.hor{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.com,
.pais,
.hob label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.opc input{
    margin: 0;
    margin-left: 2px;
}
div#gene.opc{
    width: 100%;
    align-self: flex-start;
    padding-top: 15px;
}

#gene.opc{
    flex-direction: row-reverse;
}
.opc{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    
}
div#re.rec{
    width: 100%;
}
div.pais{
    padding-top: 10px;
}
.pais label{
    padding-bottom: 6px;
}
.pais select{
    width:100%;
    border-radius: 8px;
    border: solid 2px #005A2B;
    text-align: center;
}
select{
    margin-top: 5px;
    width: 50%;
    padding: 10px;
}

.r{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-end;
    width: 80%;
}

.r button{
    width: 49%;
    font-weight: 700;
    font-size: 16px;
    background-color: #005A2B;
    color: #FFFFFF;
}

#re.rec input,
#re.rec label{
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-top:0;
}
#re.rec{
    padding-top: 30px;
}
.ya{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}
div#btn{
    display: flex;
    flex-direction: row;
    width: 100%;
}
span.ya a,
div.ya a{
    color: #D4AF37;
    margin: 5px 5px 0 0;
    font-weight: bold;
}
div.ya{
    justify-content: center;
    margin-top: 15px;
}
span.ya a{
    font-size: 16px;
}
span.ya{
    width: 50%;
}

div#btn.r{
margin-top: 25px;
}

.product img.rating{
    width: 100px;
}

section.product{
    width: 1140px;
    background-color: #005A2B;
    border-radius: 20px;
    border: solid #D4AF37 4px;
}
.product h1{
    padding: 25px 0 0 20px;
    margin-left: 25px;
    color: #D4AF37;
}
.product article{
    width: 96%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
article.valor a{
    align-self: flex-start;
    margin: 20px 0 20px 10px;
}
.product img{
    width: 97%;
    border-radius: 20px;
    align-self: center;
}
.product h4{
    color: #FFFFFF;
    font-weight: bold;
    width: fit-content;
    margin-top: 24px;
     margin-bottom: 0%;
    text-decoration:underline #D4AF37 3px ;
}

.product h6{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #ffffffa8;
}

.product h3 {
    color: #D4AF37;
    padding-left: 1.5%;
    margin-bottom: 8px;
}   
.product p{
    color: #FFFFFF;
    width: 97%;
    padding-left: 1.5%;
}
.product a p{
    justify-content: center;
}
article.comment{
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.comment img{
    margin-left: 10px; 
}
.comment p{
    margin-top: 0%;
    padding-left: 0%;
}
.product a{
    align-self: flex-end;
    align-content: center;
    margin-right: 20px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    padding: 5px;
    background-color: #D4AF37;
    border: solid #ab860d 2px;
    font-size: smaller;
}
.product a p{
    justify-self: center;
    width: fit-content;
}
ul.product{
    padding-left: 15px;
    padding-top: 1px;
    margin-top: 0;
    padding-bottom: 0px ;
    height: 100px;
    justify-content: space-evenly;
}

.product li{
    color: #FFFFFF;
}
section.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
section.pie,
footer{
    width: 1140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #005A2B;
    margin-top: 30px;
}

footer{
    height: 376px;
}
.pie article{
    width: 20%;
}
.creadores ul,
.pie ul{
    padding: 2px;
    margin-top: 10px;
    display: block;
    height: fit-content;
}
.creadores h4,
.pie h4{
    color: #D4AF37;
    margin-bottom: 6px;
}
.creadores li,
.pie li{
    padding:2px;
    color: #DADADA;
}
.creadores p,
.pie p {
    color: #DADADA;
}
article.creadores{
    justify-self: center;
}

.creadores li{
    margin-left: 3px;
}
section.divisor#cat{
    margin-top: 0%;
    margin-bottom: 1.5%;
    padding: 8px;
}
.divisor#cat h1{
    color: #ffffffb0;
    justify-self: center    
}
section#bu.divisor{
    margin-top: 0%;
    margin-bottom: 1.5%;
    padding: 10px;
}
.divisor#bu h2{
color:#FFFFFF
}
article#bu{
    width: 32.33333333333%;
}
section.aleatorio#cat{
    width: 1140px;
}
.aleatorio#cat article{
    width: 100%;
}
.aleatorio#cat article a{
    margin-left: 45%;
}
