body{
    background-image: url(../img/ORNARE_bg_pill_3840x2160.png);
    width: 100%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-size: cover;
    
}
/* Cabecera */
header.alerta{
    display: none;
    width: 27%;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
    padding: 4px;
    justify-content: center;
}
.alerta p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #D4AF37;
    justify-self: center;
    margin: 0;
    padding: 3px;
    align-self: center;
    font-weight: 700;

}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    background-color: #005A2B ;  
    margin-top: 20px;
    display: flex;
    color: #121212 ;
    padding: 20px 0px 20px 0px;
    margin: 10px 10px 40px 10px;
    border: solid #D4AF37 3px;
    border-right: 0;
    border-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70px;
}
header a{
    color: #D4AF37;
}
section.nave{
    display: none;
}
article.logo{
    display: flex;
    flex-direction: column;
}
article.logr{
    padding-right: 70px;
}
article.logr,
article.indice{
    align-content: center;
    
}
article.indice{
    width: 500px;
}
nav input{
    margin-right: 5px;
}
nav.menu{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}
.logr a{
    margin: 0px 10px 0px 10px;
}
.logo img{
    width: 50px;
    padding-left: 85px;
}
.logo img.name{
    width: 100px;
    padding-left: 65px;
    padding-top: 5px;
}
form{
display: flex;
flex-direction: row-reverse;

}
form img{
    width: 50px ;
}
button,
input{
padding: 8px;
border-radius: 10px;
margin-left: 2px;
background-color:#FFFFFF;
color: #005A2B;
}
input{
width: 400px;
border: solid ;
text-align: center;
padding: 14px 3px 14px 3px;
}

button{
    width: 85px;
}
/* Fin de cabecera*/

/* Comienzo de secciones*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
    
}

        /* Inicio de aside con categorias*/
aside{
    width: 23%;
    background-color: #005A2B ;  
    border-radius: 20px;
    height: 1000px;
    border: solid #D4AF37 3px;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
}
     
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 900px;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
        /* Fin de aside con categorias*/

/* Seccion 1 y 2: Productos aleatorios y Mas vendidos*/
section.aleatorio{
    width: 72%;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #005A2B ; 
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    display: flex;
    margin-bottom: 0%;
    border: solid #D4AF37 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
section.aleatorio article{
    height: 97%;
}
.aleatorio a{
background-color: #D4AF37;
padding: 15px;
border-radius: 10px;
color: #FFFFFF; 
justify-self: left;
}
section.aleatorio article h1{
    margin-top: 0;
}
.categoria article#bu .precio,
.contenido article.precio,
.alea article.precio{
    align-self: center;
    width: 97%;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0%;
}
.contenido article a p{
    font-size: smaller;
}
.conenido article.card a p,
.alea article a p{
    font-size:smaller;
    color: #005A2B;
    border-radius: 10px;
    padding: 5px;
    background-color: #D4AF37;
    border: solid #ab860d 1px;
}
#cat.aleatorio article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
article.reborde{
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
section#cat.aleatorio article img{
        width: 30%;
        
    }
#cat.aleatorio h2{
    color: #D4AF37;
}
#cat.aleatorio p{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article.precio{
        justify-items: center;
    }
    section#cat.aleatorio article.precio a{
        margin:0;
        width: fit-content;
        align-self: center;
        margin-right:15px ;
        padding: 20px;
    }
    article#bu{
        width: 48%;
    }
.contenido h1,
.contenido h2{
    color: #005A2B;
    height: fit-content;
}
.aleatorio h2,
.aleatorio h1{
    color: #FFFFFF;
}
.aleatorio p{
    color: #FFFFFF;
    margin-bottom: 50px;
}
.aleatorio img{
    width: 100%;
    align-self: center;
    border-radius:20px ;
    
}
section .alea{
    background-color: #005A2B;
}

section.divisor{
    width: 100%;
    background-color: #D4AF37;
    
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
section.alea,
section.contenido{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;   
    justify-content: center;
    background-color: none;
    
    padding: 20px 5px 20px 5px;
    
}
.categoria div.category,
.categoria div.category a{
    padding: 6px 0px 15px 0px;
    display: flex;
    justify-content: center;
}

.categoria{
    display: flex;
    flex-wrap: wrap;
    padding: 150px;
}
section.alea article{
    display: flex;
}
.contenido .categoria article{
    width: 50%;
    display: flex;
}

.alea article img{
    align-self: center;
    width: 40%;

}
.categoria article div{
    padding: 10px 0px 15px 55%;
    width: fit-content;
}
.categoria article span{
    width: fit-content;
}
.contenido .categoria article img{
    width: 70%;
    align-self: center;
}
.alea article h2,
.alea article p,
.contenido .categoria article h2,
.contenido .categoria article p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
}
.contenido .categoria article h2,
.contenido .categoria article span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    font-weight: 700;
    color: #D4AF37;
}
section.alea{
    background-color: #005A2B;
    
    
}
.alea h2{
    color:rgba(231, 177, 0, 0.8);
    align-self: center;
}
.alea p{
    color: #DADADA;
    align-self: center;
}
.alea a{
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    color: #D4AF37;
}
.contenido article.precio,
.alea article.precio,
.categoria article,
.contenido article#bu {
    border-bottom: solid 3px #D4AF37;
}
.categoria article#bu article.precio,
.contenido article.category{
    border-bottom: none;
}
.alea article,
.contenido article{
    display:flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content:space-evenly;
    width: 49%;
    margin-bottom: 40px;
    margin-top: 8px;
}

section.alea article img {
  background-color: #fff;
  padding: 14px 25% 5px 25%;           
  border-radius: 12px;
  display: inline-block;  
}

.alea img,
.contenido img{
    width: 50%;
    border-radius: 10px;
    align-self: center;
}
.alea img,
.contenido p{
    color: #121212;
}

.contenido a{
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    color: #6B7280;
}

.categoria article{
    width: 1080px;
}
.categoria img{
    width: 1080px;
}

/* Inicio de Login con formato de form compartido con Register*/
.log h1{
    align-self: center;
    color: #D4AF37;
}
 main.log{
    width: 1140px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 #log{
   width: 450px;
    justify-self: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
 .log form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    justify-self: center;
    align-self: center;
 }
 label {
    color: #005A2B;
 }
 main.log section#log{
    width: 500px;
}
 /* Inputs repetidos en Register y Login*/
 div#imp.ree{
    width: 500px;
 }
 #imp.ree input{
    width: 95%;
 background-color: #FFFFFF;
 }
 
 div.hob{
    width: 100%;
 }
 p.ob{
    width: 100%;
 }
 div.hor{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
 }
 div#re.rec{
    width: 350px;
 }

 div#imp{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#imp label{
    margin-bottom: 5px;
}
#imp input{
    padding: 10px;
     background-color: #FFFFFF;
    border-radius: 8px;
    border: solid 2px #005A2B;
    margin: 0;
}
#imp.ree{
    padding-top: 10px;
    width: 350px;
}
/* Boton de Login*/

button.login{
    justify-self: flex-end;
}
.log p{
    color: rgb(210, 37, 37);
}

/* Opciones de genero*/
.opc input{
    margin: 0;
    margin-left: 2px;
}
div#gene.opc{
    width: 100%;
    align-self: flex-start;
    padding-top: 15px;
    flex-direction: row-reverse;
}
.opc{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    
}
/* Opciones de pais*/
div.pais{
    padding-top: 10px;
}
.pais label{
    padding-bottom: 6px;
}
.pais select{
    width:100%;
    border-radius: 8px;
    border: solid 2px #005A2B;
    text-align: center;
}
select{
    margin-top: 5px;
    width: 50%;
    padding: 10px;
}


/* Botonera y fin de formulario de Register */
div#re.rec{
    width: 100%;
}
#re.rec input,
#re.rec label{
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-top:0;
}
#re.rec{
    padding-top: 30px;
}
.log div.rec{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    flex-direction: row-reverse;
}
.rec label{
        font-weight: 700;  
}

.log div.rec{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    flex-direction: row-reverse;
}
.rec label{
        font-weight: 700;  
}
div#btn.r{
    justify-content: center;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
button.register{
    border-radius: 10px;
    padding: 10px;
    padding-left:55px ;
    padding-right:55px;
}
.r{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-end;
    width: 80%;
}

.r button{
    width: 49%;
    font-weight: 700;
    font-size: 16px;
    background-color: #005A2B;
    color: #FFFFFF;
}

/* Inputs que solo aparecen en Register*/
 .hor input{
    width: 15px;
    background-color: #FFFFFF;
 }
 div.hor{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
 }
.log .pais{
    display: flex;
    flex-direction: column;
}
.hor{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.com,
.pais,
.hob label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
/* Botones de interconexion entre Register y Login*/
.ya{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}
span.ya a,
div.ya a{
    color: #D4AF37;
    margin: 5px 5px 0 0;
    font-weight: bold;
}
div.ya{
    justify-content: center;
    margin-top: 15px;
}
span.ya a{
    font-size: 16px;
}
span.ya{
    width: 50%;
}

div#btn.r{
margin-top: 25px;
}



/* Inicio de pagina de detalles de producto*/

section.product{
    width: 100%;
    background-color: #005A2B;
    border: solid #D4AF37 4px;
    border-left: 0;
    border-right: 0;
}
.product h2,
.product h1{
    padding: 25px 0 0 0px;
    margin-left: 25px;
    color: #D4AF37;
    width: 80%;
    justify-self: center;
}
.product article{
    width: 80%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
article.valor a{
    align-self: flex-start;
    margin: 20px 0 20px 10px;
}
.product img{
    width: 100%;
    border-radius: 20px;
    align-self: center;
}
.product h4{
    color: #FFFFFF;
    font-weight: bold;
    width: fit-content;
    margin-top: 24px;
     margin-bottom: 0%;
    text-decoration:underline #D4AF37 3px ;
}

.product h6{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #ffffffa8;
}

.product h3 {
    color: #D4AF37;
    padding-left: 1.5%;
    margin-bottom: 8px;
}   
.product p{
    color: #FFFFFF;
    width: 97%;
    padding-left: 1.5%;
}
.product a p{
    justify-content: center;
}
article.comment{
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.comment img{
    margin-left: 10px; 
}
.comment p{
    margin-top: 0%;
    padding-left: 0%;
}
.product a{
    align-self: flex-end;
    align-content: center;
    margin-right: 20px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    padding: 5px;
    background-color: #D4AF37;
    border: solid #ab860d 2px;
    font-size: smaller;
}
.product a p{
    justify-self: center;
    width: fit-content;
}
ul.product{
    padding-left: 15px;
    padding-top: 1px;
    margin-top: 0;
    padding-bottom: 0px ;
    height: 100px;
    justify-content: space-evenly;
}

.product li{
    color: #FFFFFF;
}
.product img.rating{
    width: 100px;
}

/* Inicio de Footer*/

section.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
section.pie,
footer{
    width: 99%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #005A2B;
    margin-top: 30px;
    
}

footer{
    height: 100%;
    padding-left: 20px;
    
}
.pie article{
    width: 20%;
}
.creadores ul,
.pie ul{
    padding: 2px;
    margin-top: 10px;
    height: fit-content;
}
.creadores h4,
.pie h4{
    color: #D4AF37;
    margin-bottom: 6px;
}
.creadores li,
.pie li{
    padding:2px;
    color: #DADADA;
}
.creadores p,
.pie p {
    color: #DADADA;
}
article.creadores{
    justify-self: center;
}

.creadores li{
    margin-left: 3px;
}
/* Inicio de seccion de la pagina Category*/
section.divisor#cat{
    margin-top: 0%;
    margin-bottom: 1.5%;
    padding: 8px;
}

.divisor#cat h1{
    color: #ffffffb0;
    justify-self: center    
}
#bu.divisor{
    margin-top: 0%;
    margin-bottom: 1.5%;
    padding: 10px;
    background-color: #005A2B;
    border-radius: 0;
}
.divisor#bu h2{
color:#FFFFFF;
padding-left: 15px;
}
article#bu{
    width: 32.33333333333%;
}
section.aleatorio#cat{
    width: 99%;
}
#cat article{
    width: 100%;
    height: fit-content;
}
#cat article a{
    margin-left: 45%;
}

/* Media querie mobile L*/
@media (max-width: 425px) {
    body {
        width: 97%;
        margin: 0;
        padding: 0;
        background-position: center;
        font-size: 14px;
        justify-self: center;
    }
    main{
        padding: 0px;
        margin: 0px;
        padding: 0px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 8px;
        box-sizing: border-box;

    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 407.62px;
        padding: 12px;
        box-sizing: border-box;
    }
    header input{
        width: 175px;
    }
    article.logr{
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }
    .logr a{
        text-align: center;
        padding: 2px;
    }
    section.divisor{
        width: 370px;
        padding: 5px 8px 5px 8px;
        margin: 6px 2px 6px 2px;
    }
    article.indice{
        width: 50%;
    }

    article.logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .alea article.precio a{
        margin-right: 0px;
    }

    .logo img {
        width: 30px;
        display: block;
        padding-left: 20px;
    }
    header form a img{
        width: 35px;
    }
    .list {
        display: none; 
    }

    article.indice {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 8px 0;
    }

    nav.menu {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav input {
        width: 165px;
        padding: 6px 10px;
        font-size: 14px;
        border-radius: 8px;
    }

    form img {
        width: 22px;
        margin-left: 5px;
    }

    .logr {
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }

    .logr a {
        margin: 0 10px;
        font-size: 14px;
    }
   

    aside {
    width: 94%;
    margin: 10px 0;
    background-color: #005A2B;
    border-radius: 12px;
    padding: 8px;
    height: fit-content;
}

aside ul {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    flex-wrap: wrap;       
    padding: 0;
    margin: 0;
    list-style: none;
    height: fit-content;
    height: 300px;
    width: 100%;
    
}

aside li {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    height: fit-content;
    margin: 0;
    padding: 5px 5px;
    width: fit-content; 
    background: none;
}


    .product h1{
        text-align: start;
        padding: 10px 10px 10px 0;
        margin-left: 10px;
    }

    section#cat.aleatorio,
    section.aleatorio,
    section.alea,
    section.contenido,
    section.product {
        width: 100%;
        margin: 12px 0;
        padding: 14px;
        box-sizing: border-box;
        border-radius: 12px;
    }

    .alea article,
    .contenido article {
        width: 100%;
        margin-bottom: 20px;
    }

    .alea img,
    .contenido img,
    .aleatorio img,
    .product img {
        width: 100%;
        border-radius: 10px;
    }

    h1, h2 {
        font-size: 18px;
        text-align: center;
    }

    p {
        font-size: 15px;    
        text-align: justify;
    }

    .alea a,
    .contenido a,
    .aleatorio a,
    .product a {
        display: inline-block;
        padding: 8px 16px;
        font-size: 13px;
        margin: 10px auto 0 auto;
        border-radius: 8px;
        text-align: center;
    }
    
    .alea article.precio a p,
    .contenido article.precio a p {
        font-size: 12px;
        margin: 0;
        padding: 4px 8px;
    }
    article.precio{
        justify-items: center;
    }
    section#cat.aleatorio article.precio a{
        margin:0px 0px 0px 135px;
    }
    article#bu{
        width: 48%;
    }
    #bu p{
        display: none;
    }
    footer,
    section.pie {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 14px 0;
        height: fit-content;
        box-sizing: border-box;
    }
    .pie article p{
        text-align: center;
    }
    .pie article,
    .creadores {
        width: 95%;
        margin-bottom: 12px;
        text-align: center;
    }
    .pie ul,
    .creadores ul {
        padding: 0;
    }
    main.log{
        width: 410px;
        justify-content: center;
    }
    main.log form{
        width: 390px;
    }
    main.log section#log{
        justify-content: center;
        width:390px;
    }
    section#log,
    div.ya,
    div#btn.r,
    div#imp.ree{
        width: 390px;
    }
    div#imp.ree input{
        width: 95%;
    }

    /* Linea decorativa entre Login y Register (En el header)*/
    
    section.nave{
        display: block;
        padding: 0.0000001%;
        height: 2px;
        background-color: #D4AF37;
        width: 70%;
        border-radius: 15px;
        align-self: center;

    }
}